.nav{
margin-top: -8px;
left: 0px;
width: 100vw;
height: 100px;
background-color: #ffff;
box-shadow: 0px 10px 10px -12px #111;
margin-left: -8px;
}

.navFlex{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
    justify-content:space-between;
}

.vm{
    /* margin-top: 15px; */
    color: #042a3d;
    font-size: 35px;
}

.note{
    color: #FB8500;
}
.notBtn{
    background-color: #ffff;
    /* margin-top: -15px; */
    padding: 5px;
    border-radius: 4px;
    color: #042a3d;
    font-weight: 900;
    width: 100px;
    border: #042a3d 2px solid;
    cursor: pointer;
}

.bodyBg{
    background-color: #faf7f7;
}

.cardflex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.card{
    padding: 15px;
    padding-top: 0px;
    width: 200px;
    background-color: #ffff;
    margin-top: 30px;
    box-shadow:  0px 2px 8px 1px rgba(0,0,0,0.18);
}

.list{
    margin-top: 35px;
    margin-left: -250px;
}

.menu{
    margin-top: 15px;
    border: none;
    background-color: rgba(255, 255, 255, 0);
    /* width: ; */
    /* margin-left: -120px; */
}
.menut{
    border: none;
    background-color: rgb(220, 24, 24);
}
.cointainer{
    display: flex;
    flex-wrap: wrap;
    /* width: 13%; */
    margin: 2%;
    margin-top: 2%;
    justify-content: space-around;
    /* background-color: aqua; */
   
}
.dot{
    margin-left: 50px;
    cursor: pointer;
}

.left{
    margin-left: 30px;
}

.cardColo{
    display: none;
    background-color: white;
    position: absolute;
    margin-left: 180px;
    margin-top: 40px;
    border-radius: 5px;
    border: #111 1px solid;
    box-shadow: 15px 15px 10px -15px #111;
    /* padding: 5px; */
    /* padding-left: 20px; */
    /* padding-right: 20px; */


}

.hr{
    margin-left: -20px;
    /* width: 200px; */
}

.coloHead{
    padding-right: 20px;
    padding-left: 20px; 
    margin-top: 10px;
}
.cardColo>ul{
    padding-right: 20px;
    padding-left: 20px; 
        list-style: none;
        display: flex;
        margin-top: -15px;
        font-size: 12px;
        margin-left: -4px;
}
.delete{
    margin-top: 0px;
    margin-left: 20px;
    margin-bottom: 10px;
}
.cardColo>ul>li{
    margin-left: 5px;
    font-size: 20px;
}
.cardColo>ul>li:hover{
    border: red 1px solid;
    cursor: pointer;
}
.input{
    display: none;
    position: absolute;
    background-color:bisque;
    border-radius: 10px;
    width: 280px;
    padding: 15px;
    padding-left: 40px;
    margin-left: -300px;
    margin-top: 0px;
}

.input1{
    padding: 5px;
    width: 254px;
    margin-left: -30px;
}

.input2{
    padding: 5px;
    margin-top: 10px;
    height: 100px;
    margin-left: -30px;
    
}
.input2::placeholder{
    padding: 15px;

}
.add{
    width: 255px;
    margin-left: -26px;
}

/* #FFFFFF */
/* #CBD2D6 */
/* #CCE8E4 */
/* #FAF1DB */
/* #FDE9D9 */
/* #F9DCD5 */

.li1{
    border: 1px black solid;
    width: 20px;
    height: 20px;
    border-radius:50px;
    color: #FFFF;
}

.li2{
    border: 1px black solid;
    width: 20px;
    height: 20px;
    border-radius:50px;
    color: #CBD2D6;
}


.li3{
    border: 1px black solid;
    width: 20px;
    height: 20px;
    border-radius:50px;
    color: #CCE8E4;
}

.li4{
    border: 1px black solid;
    width: 20px;
    height: 20px;
    border-radius:50px;
    color: #FAF1DB;
}

.li5{
    border: 1px black solid;
    width: 20px;
    height: 20px;
    border-radius:50px;
    color: #FDE9D9;
}

.li6{
    border: 1px black solid;
    width: 20px;
    height: 20px;
    border-radius:50px;
    color: #F9DCD5;
}

.delete:hover{
    cursor: pointer;
    color: red;
}

.show{
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 100px;
    margin-right: 50px;
    height: 30px;
    font-weight: 900;
    font-size: larger;
    border-radius: 10px;
    border: 1px solid black;
    cursor: pointer;
    background-color: #FB8500;
}